#root {
  width: 100%;
  max-width: 1080px;
  margin: 0 auto;
  padding: 1rem;
  height: 100vh;
}

.App {
  height: 100%;
  background: #ffffff;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
  #root {
    padding: 0;
  }
  
  .App {
    border-radius: 0;
  }
}